{% raw %}
{% extends "layouts/base.html" %}

{% block page_title %}
{% endraw %}
{{ cookiecutter.project_name }}
{% raw %}
{% endblock %}

{% block content %}

<div class="uk-grid">
  <div class="uk-width-1-1 uk-row-first">
    <div class="uk-block uk-block-large uk-block-primary uk-contrast uk-vertical-align uk-text-center">
      <div class="uk-width-1-2 uk-vertical-align-middle">
{% endraw %}
        <h1>Welcome to {{ cookiecutter.app_name }}</h1>
        <p class="uk-text-large">
          This is a starter Flask project. It includes uikit, Flask-SQLAlchemy, WTForms, jQuery 2, and various testing utilities out of the box.
        </p>
        <p>
          <a href="https://github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.repo_name }}" class="uk-button uk-button-success">Learn more &raquo;</a>
        </p>
{% raw %}
      </div>
    </div>
  </div>
</div>

<div class="uk-grid">

  <div class="uk-width-1-3 uk-row-first">
    <div class="uk-grid">
      <div class="uk-width-6-6">
        <h2>Flask</h2>
        <p>Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions. And before you ask: It's BSD licensed!</p>
        <p><a href="http://flask.pocoo.org" class="uk-button uk-button-primary">Official website &raquo;</a></p>
      </div>
    </div>
  </div>

  <div class="uk-width-1-3 uk-row-first">
    <div class="uk-grid">
      <div class="uk-width-6-6">
        <h2>uikit</h2>
        <p>A lightweight and modular front-end framework for developing fast and powerful web interfaces.</p>
        <p><a href="http://getuikit.com" class="uk-button uk-button-primary">Official website &raquo;</a></p>
      </div>
    </div>
  </div>

  <div class="uk-width-1-3 uk-row-first">
    <div class="uk-grid">
      <div class="uk-width-6-6">
        <h2>SQLAlchemy</h2>
        <p>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.</p>
        <p><a href="http://www.sqlalchemy.org" class="uk-button uk-button-primary">Official website &raquo;</a></p>
      </div>
    </div>
  </div>

</div>

<div class="uk-grid">
  <div class="uk-width-1-3 uk-row-first">
    <div class="uk-grid">
      <div class="uk-width-6-6">
        <h2>WTForms</h2>
        <p>A flexible forms validation and rendering library for Python.</p>
        <p><a href="https://wtforms.readthedocs.org/" class="uk-button uk-button-primary">Official website &raquo;</a></p>
      </div>
    </div>
  </div>

  <div class="uk-width-1-3 uk-row-first">
    <div class="uk-grid">
      <div class="uk-width-6-6">
        <h2>Webassets</h2>
        <p>Asset management for Python web development.</p>
        <p><a href="https://github.com/miracle2k/webassets" class="uk-button uk-button-primary">Official website &raquo;</a></p>
      </div>
    </div>
  </div>

  <div class="uk-width-1-3 uk-row-first">
    <div class="uk-grid">
      <div class="uk-width-6-6">
        <h2>Flask-AppConfig</h2>
        <p>Allows you to configure an application using pre-set methods.</p>
        <p><a href="http://pythonhosted.org/flask-appconfig" class="uk-button uk-button-primary">Official website &raquo;</a></p>
      </div>
    </div>
  </div>

</div>

{% endblock %}
{% endraw %}
