# http://docs.python.org/distutils/sourcedist.html#manifest-template
# http://docs.python.org/distutils/sourcedist.html#specifying-the-files-to-distribute
include LICENSE
include README.rst

# Including
# Python source files, test/*.py will be automatically included.
recursive-include {{ cookiecutter.app_name }} *.py
recursive-include tests *.py

# Requirements
recursive-include requirements *
include requirements.txt

# Migrations
recursive-include migrations *

# Manager scripts
include manage.py

# Templates
recursive-include {{ cookiecutter.app_name }}/templates *

# Static files
recursive-include {{ cookiecutter.app_name }}/static *

# Bower
include bower.json
include .bowerrc

# Excluding
recursive-exclude {{ cookiecutter.app_name }} *.pyc
recursive-exclude tests *.pyc
