{% raw %}

<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      {% block page_title %}
{% endraw %}
      {{ cookiecutter.app_name }}
{% raw %}
      {% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endraw %}{{ cookiecutter.author }}{% raw %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% block css %}{% endblock %}

    <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% block body %}

    <div class="{% block content_class %}uk-container uk-container-center uk-margin-top uk-margin-large-bottom{% endblock content_class %}">

      <!-- Navbar  -->
      {% include "includes/navbar.html" %}

      <header>{% block header %}{% endblock %}</header>

      {% block content %}{% endblock %}

    </div><!-- end container -->

    <!-- JavaScript at the bottom for fast page loading -->
    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block js %}{% endblock %}

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>

    {% endblock %} <!-- end block body -->
  </body>
</html>

{% endraw %}
